footer{    

    background:$grey;
    div{
        @include outer-container();
    }
    p{
        @include span-columns(12);        
        padding:1rem 0;
        margin:0;
    }
    a{        
        color:white;
        font-size:1rem;
    }
}