form{
    fieldset{
        border:none;
        margin:$vertical-multiple 0;
    }

    label{
        @include row();
        line-height:$vertical-multiple;
        span{
            @include span-columns(12);
        }
        input{
            @include span-columns(12);
            padding:0.25rem 1rem;
            margin-right:0;
        }
        textarea{
            @include span-columns(12);
            padding:0.25rem 1rem;
        }
        p{
            clear:left;
            @include span-columns(12);
            margin:0;
            text-align:center;
        }
        &.error{
            background:rgba(255,0,0,0.4);
            padding: 1rem;
            margin: 1rem 0;
        }
    }
    @include media($small-desktop){    
        label{
            span{
                @include span-columns(4);
                text-align:right;
                margin-right:1rem;
            }
            input{
                @include span-columns(8);
                margin-right:0;
            }
        }        
    }
}