body{
    margin:0;
    padding:0;
    main{
        @include outer-container();
        > article{
            @include media($small-desktop){
                @include span-columns(8);
            }
        }
        > aside{
            background:$lighter-grey;            
            @include media($small-desktop){
                @include span-columns(4);      
            }
        }
    }
}