nav{
    background:$dark-grey;    
    > div {
        @include outer-container();
        display:flex;
        a{
            padding:$vertical-multiple/2 $vertical-multiple;;
            border-left:solid 1px white;
            &:last-child{
                border-right:solid 1px white;
            }
            &:hover{
                @include transition(all 0.5s linear);
                background:$pimary-color;
            }
        }
    }
}