article{
    font-size:0.9rem;
    line-height:1.5rem;
    margin-bottom:2rem;
}

h1,h2,h3,h4,h5{
    font-family: $heading-font;
    color: $black;
    line-height: $vertical-multiple;
    margin:($vertical-multiple * 2) 0;
}
h1{
    font-size: $h1-font-size;
}
h2 {
    font-size: $h2-font-size;
}

h3,h4,h5 {
    font-size: $h3-font-size;    
    margin:$vertical-multiple 0;
}

body,td,input,textarea{
    font-family: $body-font;
}

a{
    text-decoration:none;
    color:$link-color;
}