/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15-Feb-2015, 20:26:47
    Author     : Jonathan
*/

/**
* Typography
**/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

$body-font:'Open Sans', Helvetica, ArialMT, Arial, sans-serif;
$heading-font:'Lato', 'Open Sans', Helvetica, ArialMT, Arial, sans-serif;

$base-font-size:16px;

$h1-font-size:2rem;
$h2-font-size:1.6rem;
$h3-font-size:1.4rem;
$line-height:1.5rem;

$vertical-multiple:2rem;

/**
* Colour Scheme
**/
$grey:#B1B1AF;
$lighter-grey:lighten($grey,10%);
$dark-grey:darken($grey,10%);
$black:rgb(40,40,40);
$link-color:#551A8B;
$pimary-color:orange;

/**
* Layout configuration
**/
$scale:$golden;

$visual-grid:false;
$max-width: em(1003);
$grid-columns: 12;
$gutter: modular-scale(1, 2em, $scale);
$disable-warnings:true;

/**
* Responsive sizes
**/
$widescreen:1180px;
$desktop:915px;
$small-desktop:800px;
$tablet:690px;
$small-tablet:400px;
